includes:
  - vendor/larastan/larastan/extension.neon
  - vendor/spaze/phpstan-disallowed-calls/extension.neon
  - vendor/spaze/phpstan-disallowed-calls/disallowed-dangerous-calls.neon
  - vendor/spaze/phpstan-disallowed-calls/disallowed-execution-calls.neon
  - phar://phpstan.phar/conf/bleedingEdge.neon
  - vendor/phpstan/phpstan-deprecation-rules/rules.neon

parameters:
  paths:
    - app/
    - routes/

  # Level 9 is the highest level
  level: 8

  disallowedFunctionCalls:
    -
      function:
        - 'dd()'
        - 'dump()'
      message: 'function should not be used in production'

  disallowedMethodCalls:
    -
      method:
        - 'Illuminate\Database\Query\Builder::dd()'
        - 'Illuminate\Database\Query\Builder::dump()'
        - 'Illuminate\Http\Client\PendingRequest::dd()'
        - 'Illuminate\Http\Client\PendingRequest::dump()'
        - 'Illuminate\Http\Concerns\InteractsWithInput::dd()'
        - 'Illuminate\Http\Concerns\InteractsWithInput::dump()'
        - 'Illuminate\Support\Carbon::dd()'
        - 'Illuminate\Support\Carbon::dump()'
        - 'Illuminate\Support\Stringable::dd()'
        - 'Illuminate\Support\Stringable::dump()'
        - 'Illuminate\Support\Traits\EnumeratesValues::dd()'
        - 'Illuminate\Support\Traits\EnumeratesValues::dump()'
        - 'Illuminate\Testing\TestResponse::dump()'
        - 'Illuminate\Testing\TestResponse::dumpHeaders()'
        - 'Illuminate\Testing\TestResponse::dumpSession()'
        - 'Illuminate\Testing\TestResponse::dd()'
        - 'Illuminate\Testing\TestResponse::ddHeaders()'
        - 'Illuminate\Testing\TestResponse::ddSession()'
      message: 'method should not be used in production'

  disallowedSuperglobals:
    -
      superglobal:
        - '$_COOKIE'
        - '$_FILES'
        - '$_GET'
        - '$_POST'
        - '$_REQUEST'
        - '$_SERVER'
      message: 'use the Request object as parameter (preferred), the Request facade or the request() helper function instead'
    -
      superglobal: '$_SESSION'
      message: 'use the Session facade (preferred) or the session() helper function instead'

  excludePaths:
    - routes/console.php

  ignoreErrors:
    - '#PHPDoc tag @mixin contains unknown class [a-zA-Z0-9\\_]+IdeHelper#'
    - '#Unable to resolve the template type (TValue|TKey) in call to function #'
    - '#Unable to resolve the template type TWhenReturnType in call to method Illuminate#'
    - '#Unable to resolve the template type TNewKey in call to method Illuminate#'
    - '#Unable to resolve the template type TMapWithKeysKey in call to method Illuminate\\Support\\Collection::mapWithKeys#'
    - '#::transform\(\) expects callable#'
    - '#Access to an undefined property object::#'
    - '/::sortKeysUsing\(\) /'
    - '#Call to an undefined method Illuminate\\Database\\Eloquent\\[a-zA-Z\\\<\>]+::(withTrashed|onlyTrashed|trashed)\(\)#'
    - identifier: missingType.generics
    - identifier: argument.unresolvableType
    - identifier: function.unresolvableReturnType
    - identifier: method.unresolvableReturnType
    - identifier: argument.templateType
    - identifier: varTag.nativeType
    - '#Call to function [a-zA-Z_.\s\S\(\)\\\<\>]* will always evaluate to true.#'
    - '#Model::make\(\)#'

  reportUnmatchedIgnoredErrors: false
  treatPhpDocTypesAsCertain: false

  checkExplicitMixedMissingReturn: true
  checkFunctionNameCase: true
  checkInternalClassCaseSensitivity: true
  reportMaybesInMethodSignatures: true
  reportStaticMethodSignatures: true
  checkTooWideReturnTypesInProtectedAndPublicMethods: true
  checkDynamicProperties: true
  reportWrongPhpDocTypeInVarTag: false
  reportAnyTypeWideningInVarTag: true
  reportPossiblyNonexistentConstantArrayOffset: true
